body {
  font-family:Arial;
  font-size:12px;
  background:#ededed;
}
.example-desc {
  margin:3px 0;
  padding:5px;
}

#carousel {
  width:960px;
  border:1px solid #222;
  height:300px;
  position:relative;
  clear:both;
  overflow:hidden;
  background:#FFF;
}
#carousel img {
  visibility:hidden; /* hide images until carousel can handle them */
  cursor:pointer; /* otherwise it's not as obvious items can be clicked */
}

.split-left {
  width:400px;
  float:left;
}
.split-right {
  width:400px;
  float:left;
  margin-left:10px;
}
#callback-output {
  height:250px;
  overflow:scroll;
}